@use './../../../assets/abstracts/index' as *;



.chat {
  width: 20vw;
  display: flex;
  flex-direction: column;
}

.chat-header {
  width: 400px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  z-index: 10;

  h5 {
    margin-left: 10px;
  }
}
.userImg {
  // @include rounder(2.5rem);
  width: 2.5rem;
  height: 2.5rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.message {

  min-height: 1.5rem;
  margin-bottom: 5vh;
  padding: 8px;

  border-radius: 10px;
  border-top-left-radius: 0px;
  background-color: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.308), 0px -20px whitesmoke;
  // word-wrap: break-word;
  // word-break: keep-all;
  box-sizing: content-box;
}

.my-chat {
  box-shadow: 0px -20px rgb(255, 221, 190);
}
