$beige: #edf6e5;
$pink: #ffa29c;
$blue: #314560;
$pink-shadow: #e69691;
$pink-light: #ffe3e3;
$dots: #494744;
$teal: #b5eaea;

//second set of colors
$orange: #ff7171;
$beach:#F0E4D7;
$teal-dark:#9FD8DF;
$pink-shallow:#F5C0C0;
