@mixin rounder($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin flexCenter($direction:row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}