@use './../../../assets/abstracts/index' as *;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.doodle {
  height: 67vh;
  position: relative;
  @include flexCenter();
  background-color: $pink;

  flex-grow: 0;
  flex-shrink: 0;

  padding-block: 1rem;

  overflow-x: hidden;
  overflow-y: hidden;
}


.doodle-area{
z-index: 10;

}

.chat-box {
  height: 100%;

  position: absolute;
  right: 0px;

  padding-inline: 5px;


  // background-color: rgb(201, 89, 89);

  display: flex;
  flex-direction: column;

  font-family: $secondary;
  font-size: 19px;
  letter-spacing: 2px;

  box-sizing: border-box;

  overflow-y: scroll;

  flex-shrink: 1;
  flex-grow: 1;



  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
  }
}

.bottom-section {
  width: 100vw;
  height : 33vh;
  background-color: #EDF6E5;

@include flexCenter();

  .current-word {
    display: flex;
    justify-content: space-evenly;

    font-family: $secondary;
    font-size: 1.5rem;
    color: azure;

    // position: fixed;
    // bottom: 10rem;
    margin-bottom: 5rem;

    h2 {
      text-align: center;
      width: 2.2rem;
      margin-inline: 2px;
      background-color: $blue;
    }
  }
}
