@use './../../../assets/abstracts/index' as *;

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.doodle {
  height: 67vh;
  position: relative;
  @include flexCenter();
  background-color: $pink;

  flex-grow: 0;
  flex-shrink: 0;

  padding-block: 1rem;

  overflow-x: hidden;
  overflow-y: hidden;
}

.doodle-area {
  z-index: 10;
}

.chat-box {
  height: 100%;

  position: absolute;
  right: 0px;

  padding-inline: 5px;

  // background-color: rgb(201, 89, 89);

  display: flex;
  flex-direction: column;

  font-family: $secondary;
  font-size: 19px;
  letter-spacing: 2px;

  box-sizing: border-box;

  overflow-y: scroll;

  flex-shrink: 1;
  flex-grow: 1;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
  }
}

.chat-bar-section {
  position: fixed;
  bottom: 0px;
  left: 50%;

  @include flexCenter();

  transform: translate(-50%);

  #chat-bar {
    font-size: 1.1rem;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: 30rem;
    height: 4rem;

    resize: none;

    outline: none;
    border: solid 3px rgba(133, 133, 133, 0.658);

    padding-inline: 10px;
    padding-block: 8px;
  }

  .sendBtn {
    position: absolute;
    bottom: 0px;
    right: 1px;
    width: 80px;
    height: 30px;
    border: none;
    border-top-left-radius: 10px;
    color: rgb(134, 134, 134);

    cursor: pointer;

    &.active {
      color: black;
      background-color: rgb(252, 202, 144);
    }
  }
}

.bottom-section {
  width: 100vw;
  height: 33vh;
  background-color: #edf6e5;

  @include flexCenter();

  .current-word {
    display: flex;
    justify-content: space-evenly;

    font-family: $secondary;
    font-size: 1.5rem;
    color: azure;

    // position: fixed;
    // bottom: 10rem;
    margin-bottom: 5rem;

    h2 {
      text-align: center;
      width: 2.2rem;
      margin-inline: 2px;
      background-color: $blue;
    }
  }
}
