<div class="container">
  <div class="doodle">
    <div class="leader-board">
      <app-leaderboard [players]="players"></app-leaderboard>
    </div>
    <div class="doodle-area">
      <app-canvas *ngIf="isCurrentPlayer"></app-canvas>
      <app-feedback-canvas *ngIf="!isCurrentPlayer"></app-feedback-canvas>
    </div>

    <div class="chat-box">
      <app-chat></app-chat>
    </div>
  </div>
  <div class="chat-bar-section" *ngIf="!isCurrentPlayer">
    <textarea
      name="chat-bar"
      id="chat-bar"
      cols="20"
      rows="1"
      placeholder="chat here...."
      (input)="isTyping = true"
      #chatBar
    ></textarea>
    <button
      class="sendBtn"
      [class.active]="isTyping"
      (click)="sendMessage(chatBar.value); chatBar.value = ''"
    >
      send
    </button>
  </div>

  <div class="bottom-section">
    <div class="current-word">
      <h2 *ngFor="let letter of word">{{ letter }}</h2>
    </div>
  </div>
</div>
