@use './../../../assets/abstracts/index' as *;




canvas{
  background-color:rgb(249, 249, 249);
     box-shadow : 0px 5px 10px rgba(0, 0, 0, 0.075)
}



.tools{
  position: fixed;
  width: 30vw;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,0);
  display: flex;
  height: 5rem;
  align-items: center;
  background-color: rgb(58, 58, 58);
  gap:1rem;
  padding-inline: 1rem;

  .color-wheel{
    @include rounder(2.5rem);
    background-color:rgb(255, 255, 255);
   position: relative;
   box-shadow: 0px 5px 10px  rgba(94, 94, 94, 0.664);
    flex-shrink: 0;


   label{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        .color{
         @include rounder(2.3rem);
        }
    }
   }


  #color-picker{
    width:0px;
    visibility: hidden;
  }


  .clear-canvas{
    width: 4rem;
    height: 4rem;
    background-color:cadetblue;
    background-image: url("./../../../assets/icons/clear canvas.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }


  .pencil-div{
    background-color:rgb(92, 93, 96);
    width: 4rem;
    height: 4rem;
@include flexCenter();
  flex-shrink: 0;

    img{
@include rounder(3rem);

transition: all 300ms ease-out;
    }
  }



  .erasers{
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
  align-items: center;
    flex-basis: 40%;

  img{
    @include rounder(2.5rem);
    transition: all 300ms ease-out;
        }

    .eraser{
      background-color: rgb(255, 255, 255);
      background-image: url("./../../../assets/icons/eraser.jpg");
      background-size: contain;
    }
    .small-eraser{
      @include rounder(2rem);
    }
    .medium-eraser{
      @include rounder(2.5rem);
    }
    .large-eraser{
      @include rounder(3rem);
    }
  }

}

