<canvas
  #drawArea
  (window:resize)="setSize()"
  (mousedown)="startDrawing($event)"
  (mouseup)="finishDrawing()"
  (mouseleave)="finishDrawing()"
>
</canvas>

<div class="tools">

  <div class="clear-canvas" (click)="clearCanvas()"></div>

   <!-- color-wheel -->
  <div class="color-wheel">
    <label for="color-picker" class="color-label">
      <div class="color" [ngStyle]="{ background: colorPicker.value }"></div>
    </label>
    <input
      type="color"
      id="color-picker"
      name="colorPicker"
      #colorPicker
      (input)="selectColor(colorPicker.value, 10)"
    />
  </div>
<!--  -->


<!-- pencil -->
  <div class="pencil-div" [class.selected]="line_width==10" (click)="selectColor(colorPicker.value, 10)">
  </div>
  <!--  -->

  <!-- erasers -->
  <div ngClass="erasers">
    <div class="small-eraser eraser" (click)="selectColor('#ffffff', 20)">
    </div>
    <div
      class="medium-eraser eraser"
      (click)="selectColor('#ffffff', 35)"
    ></div>
    <div class="large-eraser eraser" (click)="selectColor('#ffffff', 50)"></div>
  </div>
  <!--  -->
</div>
