@use "./../../../assets/abstracts/index" as *;

canvas {
  box-shadow: 5px 5px 10px rgba(97, 97, 97, 0.425);
}

.toolbar {
  position: fixed;
  width: 30rem;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 5rem;

  background-color: $pink;

  gap: 1rem;

  padding-inline: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
