@use "./../../../assets/abstracts/index" as *;

.container {
  height: 100vh;
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
}
.menu {
  width: 30vw;
  @include flexCenter(column);

  padding-inline: 2rem;
  background-color: aqua;

  img{
    transform: rotate(-90deg);
  }
}
.create-link {
  padding: 10px;

  text-align: center;
  cursor: pointer;

  background-color: #fff;

  margin-bottom: 2rem;

  &:hover {
    background-color: rgb(255, 233, 233);
  }
}
.join-btn {
  cursor: pointer;
}
.link {
  display: flex;
  align-items: center;

  #link-span {
    padding: 5px 10px;
    display: inline-block;

    border-radius: 3px;
    // background-color: rgb(203, 205, 209);
    color: $blue;
    background-color: rgba(255, 226, 213, 0.664);
  }
}
.copy-btn {
  cursor: pointer;
  svg {
    width: 2rem;
  }
  path {
    fill: #959fad;
  }
  &:active {
    path {
      fill: #27374e;
    }
  }
}

.created.create-link:hover + img{


 -webkit-animation:wobble-ver-left .8s both;
 animation:wobble-ver-left .8s both;

}

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */


 @-webkit-keyframes wobble-ver-left {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
            transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
            transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
            transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
            transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
            transform: translateY(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-ver-left {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateY(-30px) rotate(-6deg);
            transform: translateY(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateY(15px) rotate(6deg);
            transform: translateY(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateY(-15px) rotate(-3.6deg);
            transform: translateY(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateY(9px) rotate(2.4deg);
            transform: translateY(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateY(-6px) rotate(-1.2deg);
            transform: translateY(-6px) rotate(-1.2deg);
  }
}
