<div class="container">
  <app-avatar-card (selectionMade)="enableLink($event)"></app-avatar-card>

  <!-- menu -->
  <div class="menu">
    <!-- username selection -->
    <div class="name-selection">
      <h2>Enter A Username</h2>
      <input
        type="text"
        name="username"
        id="username"
        #username
        (input)="addUsername(username.value)"
      />
    </div>
    <!--  -->
    <!-- link generation -->
    <div
      [ngClass]="{
        'create-link': true,
        enabled: this.hasSelectedAvatar && hasSelectedUsername,
        created: linkId
      }"
      (click)="redirectedUser ? joinRoom() : createUID(2)"
    >
      <h2>{{ redirectedUser ? "Join" : "Create Game Room" }}</h2>
    </div>
    <!--  -->

    <!-- link -->
    <div class="link">
      <span #linkRef id="link-span">{{ fullLink }} </span>
      <div class="copy-btn" (click)="copyLink()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
          <g id="Layer_100" data-name="Layer 100">
            <path
              d="M44.84,10.5H24.9a5,5,0,0,0-5,5V42.8a5,5,0,0,0,5,5H44.84a5,5,0,0,0,5-5V15.46A5,5,0,0,0,44.84,10.5Zm2,32.3a2,2,0,0,1-2,2H24.9a2,2,0,0,1-2-2V15.46a2,2,0,0,1,2-2H44.84a2,2,0,0,1,2,2Z"
            />
            <path
              d="M39.07,50.5H19.18a2,2,0,0,1-2-2V21.23a1.5,1.5,0,0,0-3,0V48.51a5,5,0,0,0,5,5H39.07A1.5,1.5,0,0,0,39.07,50.5Z"
            />
          </g>
        </svg>
      </div>
      <img
        src="./../../../assets/icons/arrow.svg"
        alt=""
        class="ready-btn link-created"
        *ngIf="linkId"
        (click)="joinRoom()"
      />
    </div>
    <!--  -->
  </div>

  <!--  -->

  <div class="waiting-area">
    <!-- join with link -->

    <div class="join-with-link" *ngIf="!redirectedUser">
      <h2>Or join a room by entering link....</h2>
      <input
        type="text"
        (input)="linkInput(linkInputRef.value)"
        #linkInputRef
      />
      <img
        src="./../../../assets/icons/arrow.svg"
        alt=""
        class="ready-btn link-entered"
        (click)="joinRoom(linkInputRef.value)"
        *ngIf="hasEnteredLink && this.hasSelectedAvatar && hasSelectedUsername"
      />
    </div>
    <!--  -->
    <!-- waiting room for players -->
    <div
      class="waiting-box"
      [ngStyle]="{ background: playerCount ? 'white' : 'transparent' }"
    >
      <h2>
        {{ playerCount ? playerCount + " players joined....." : "" }}
      </h2>
      <div class="waiting-players">
        <div class="players" *ngFor="let player of players">
          <img src="{{ player.imgUrl }}" alt="" />
          <p>{{ player.username }}</p>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
