@use "./../../../assets/abstracts/index" as *;

.container {
  height: 100vh;
  display: flex;
  padding: 2rem;
  box-sizing: border-box;
}

app-avatar-card {
  flex-basis: 33.3%;
}

.menu {
  box-shadow: 1px 1px 10px #e697914b;

  // width: 30vw;
  padding-block-start: 20px;
  height: 85vh;
  flex-basis: 33.3%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 2rem;
  background-color: rgb(255, 255, 255);

  border-radius: 20px;

  .name-selection {
    font-family: $secondary;
    font-size: 1.3rem;
    text-align: center;

    width: 100%;
    height: 38vh;

    margin-top: 6.5vh;
    position: relative;
    border-radius: 20px;

    @include flexCenter(column);

    background-color: rgba(236, 236, 236, 0.404);

    h2 {
      margin-bottom: 5px;
    }

    input {
      width: 60%;
      font-size: 1rem;
      height: 2rem;
      border-radius: 20px;
      padding-inline: 15px;
      padding-block-start: 5px;

      outline: none;
      box-sizing: border-box;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0px;
      background-color: black;
    }
  }

  .create-link {
    text-align: center;
    cursor: pointer;

    margin-top: 2rem;
    padding: 20px;

    background-color: rgba(255, 211, 194, 0.747);
    border-radius: 10px;

    transition: 200ms background-color ease-out;
    -webkit-transition: 200ms background-color ease-out;
    -moz-transition: 200ms background-color ease-out;
    -ms-transition: 200ms background-color ease-out;
    -o-transition: 200ms background-color ease-out;

    h2 {
      color: rgb(148, 146, 146);
    }

    &.enabled {
      background-color: rgb(238, 147, 147);
      h2 {
        color: black;
      }
    }

    &.enabled:hover {
      background-color: rgb(255, 233, 233);
    }
  }

  .link {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position: relative;

    #link-span {
      display: inline-block;
      padding: 5px 10px;
      width: 320px;
      border-radius: 3px;
      text-align: center;
      // background-color: rgb(203, 205, 209);
      color: $blue;
      background-color: rgba(255, 226, 213, 0.664);
    }
  }
  .copy-btn {
    cursor: pointer;
    svg {
      width: 2rem;
    }
    path {
      fill: #959fad;
    }
    &:active {
      path {
        fill: #27374e;
      }
    }
  }
}
.ready-btn {
  position: absolute;
  transform: rotate(-90deg);
  cursor: pointer;

  &.link-created {
    margin-left: 10px;
    right: -70px;
  }

  &:hover {
    transform: rotate(-90deg) scale(1.05);
  }
}

.waiting-area {
  height: 88vh;

  display: flex;
  flex-direction: column;
  flex-basis: 33.3%;
  gap: 1rem;

  background-color: rgb(255, 224, 224);
  box-shadow: 1px 1px 10px #e697914b;

  padding-block: 20px;
  padding-inline: 1vw;

  border-radius: 20px;
  box-sizing: border-box;

  img {
    width: 4rem;
  }

  .join-with-link {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -10px;
      left: 0px;
      background-color: black;
    }

    margin-top: 6.5vh;
    @include flexCenter();
    // flex: 0 1 50%;
    flex-basis: 50%;

    position: relative;

    color: grey;
    text-align: center;
    font-size: 1vw;

    background-color: #fff;
    border-radius: 10px;

    input {
      margin-top: 20px;
      margin-right: 20px;
      outline: none;
      width: 220px;
      height: 18px;
      border-radius: 10px;
      padding-inline: 10px;
    }

    .link-entered {
      left: 50%;
      bottom: 40px;

      width: 50px;

      transform: translate(-50%);

      &:hover {
        transform: translate(-50%) scale(1.2);
      }
    }
  }
  .waiting-box {
    width: 100%;
    flex-basis: 50%;

    background-color: #fff;
    border-radius: 20px;

    padding-inline: 15px;
    padding-block-start: 5px;
    padding-block-end: 15px;

    box-sizing: border-box;

    text-align: center;

    h2 {
      font-family: $secondary;
      letter-spacing: 1px;
    }

    .waiting-players {
      margin-top: 10px;

      display: flex;
      flex-wrap: wrap;
      gap: 0.4rem;

      background-color: rgb(245, 245, 245);
      border-radius: 10px;
    }

    .players {
      text-align: center;
      font-family: $secondary;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.2rem;

      padding: 10px;

      box-sizing: border-box;
      border-radius: 10px;
      background-color: rgb(255, 255, 255);
      box-shadow: 1px 1px 10px rgba(155, 155, 155, 0.274);

      img {
        border-radius: 50%;
      }
    }

    .join-room {
      margin-top: 20px;
      width: 100px;

      text-align: center;

      padding: 10px;

      cursor: pointer;

      background-color: #fff;
      border-radius: 5px;

      &:hover {
        background-color: $orange;
      }
    }
  }
}
